*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #1d7cf2;
    overflow-x: hidden;
}
.section-1{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: transparent;
}
header .nav-left{
    display: flex;
    text-align: center;
    align-items: center;
}
header .nav-left h2{
    margin-left: 10px;
    font-family: sans-serif;
    color: white;
}
header .nav-right img{
    margin: 0 5px;
}


.section-2{
    position: relative;
    margin: 50px 0 150px 0;
    padding: 20px;

}
.section-2 .vector1{
    position: absolute; 
    z-index: -1; 
    right: 0; 
    top: 0;
}
.section-2 .vector2{
    position: absolute; 
    left: 0; 
    z-index: -1; 
    top: 100px;
}
.section-2 .departement .vector3{
    position: absolute; 
    z-index: 1; 
    right: 0; top: 0;
}
.section-2 .departement .vector4{
    position: absolute; 
    bottom: 8px; 
    left: 0;
    z-index: -1;
}
.section-2 .departement .desk-der{
    z-index: 1; 
    text-decoration: none; 
    color: black;
}
.section-2 .img-depar{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}
.card-text{
    text-align: justify;
}
.judul-card{
    display: flex;
    width: 100%;
    margin-top: 70px;
    justify-content: space-around;
}
.departement{
    width: 200px; 
    padding: 10px; 
    position: relative; background-color: #fffdfd;
    border-radius: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.349) 7px 7px ;
}
.departement:hover{
    background-color: #d1e0f8;
    transition: 1s;
}

.section-3{
    position: relative; 
    padding: 20px;
}
.section-3 .vector5{
    width: 500px;
    position: absolute; 
    z-index: -2; 
    top: -200px; 
    left: 30%;
}
.section-3 .vector6{
    width: 500px;
    position: absolute; 
    z-index: -1; 
    top: 300px;
}
.section-3 .profil h1{
    text-align: center; 
    font-size: 50px; 
    margin: 0 40px 0 40px; 
    font-family: 'coiny'; 
    background-color: #d9d9d9; 
    align-items: center; 
    padding: 20px; 
    border-radius: 20px; 
    color: #60a4f9;
}
.section-3 .profil-description{
    display: flex; 
    justify-content: space-between; 
    margin-top: 50px;
}
.section-3 .profil-description .profil-left{
    display: flex; 
    flex-direction: column;  
    width: 50%; 
    padding: 20px; 
    align-items: center; 
    color: white;
}
.section-3 .visi-misi{
    display: flex; 
    justify-content: space-between;
    background-color: white; 
    padding: 20px; 
    margin: 50px 100px; 
    border-radius: 7px;
}
.section-3 .visi-misi .visi, .section-3 .visi-misi .misi{
    margin: 0 50px; 
    align-items: center;
} 

.section-4{
    position: relative; 
    overflow: hidden; 
    text-align: center;
}
.section-4 h1{
    font-family: 'coiny'; 
    text-align: center; 
    color: white;
}
.section-4 .card-kegiatan{
    display: flex; 
    padding: 20px; 
    overflow-x: scroll; 
    justify-content: center;
}
.section-4 .card-kegiatan .card-dok{
    z-index: 1; 
    background-color: white; 
    width: 250px; 
    padding: 10px; 
    border-radius: 5px; 
    margin: 10px;
}

.section-5{
    height: 100vh; 
    position: relative; 
    padding: 40px;
}
.section-5 .pengurus{
    display: flex; 
    justify-content: space-around; 
    padding: 20px; 
    border-radius: 10px; background-color:#d9d9d9;
}
.footer{
    display: flex; 
    position: absolute; 
    bottom: 50px; 
    justify-content: space-around; 
    width: 100%;
}



.media{
    display: none;
}
.togle{
    display: none;
}
.menu{
    display: none;
}

/* @media screen and (max-width: 900px) {
    main{
        display: none;
    }
    .media{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: flex;
        background-color: white;
        height: 100vh;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
} */

@media screen and (max-width: 700px) {
   .section-1 header .nav-right{
    display: none;
   } 
   .section-1 header .nav-left img{
    width: 40px;
    }
    .section-1 header .nav-left h2{
        font-size: 15px;
    }
    .section-1 .togle{
        z-index: 3;
        display: flex;
        flex-direction: column;
        width: 30px;
        cursor: pointer;
    }
    .section-1 header .togle span{
        height: 5px;
        margin: 3px 0;
        border-radius: 2px;
        background-color: rgb(168, 168, 168);
    }
    .active-menu{
        display: block;
    }
    .section-1 header .menu{
        z-index: 0;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgb(255, 255, 255);
        padding: 20px;
    }
    .section-1 header .menu .link{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .section-1 header .menu .link a{
        text-decoration: none;
        width: 90%;
        color: rgb(0, 38, 255);
        /* margin: 3px 0; */
        padding: 3px;
        font-weight: 500;
    }
    .section-1 header .menu .link a:hover{
        background-color: rgb(72, 145, 255);
        color: white;
    }
    .section-1 header .menu .medsos{
        display: flex;
        justify-content: space-around;

    }
    .section-1 header .menu .medsos a{
        text-decoration: none;
        align-items: center;
        color: black;
    }
    .section-1 header .menu .medsos a:hover{
        color: blue;
        font-weight: bold;
    }
    .section-1{
        height: 40vh;
        overflow: hidden;
    }

    .section-2{
        
    }
    .section-2 h1{
        font-size: 20px;
        margin: 0 auto;
    }
    .section-2 .judul-card{
        justify-content: flex-start;
        overflow-x: scroll;
    }
    .section-2 .judul-card .departement{
        width: 400px;
    }
    .section-2 .judul-card .departement .img-depar img{
        /* width: 50px; */
    }


}

